name: Scheduled ETL + Forecast

on:
  schedule:
    - cron: "15 3 * * 1"   # every Monday 03:15 UTC
  workflow_dispatch: {}

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Show files
        run: |
          pwd
          ls -la



      - name: Ingest DC (Redfin)
        env:
          ALLOW_REDFIN_FAIL: "1"
        run: make ingest_dc

      - name: Ingest Monthlies (Zillow + FRED)
        run: make ingest_monthly


      - name: Transform DC (weekly Redfin)
        run: make transform_dc

      - name: Transform Monthlies (ZORI + Unemployment)
        run: make transform_monthly

      - name: Forecast DC (placeholder)
        run: make forecast_dc

