name: Scheduled ETL + Forecast

on:
  schedule:
    - cron: "15 3 * * 1"   # every Monday 03:15 UTC
  workflow_dispatch: {}

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Show files (debug)
        run: |
          pwd
          ls -la
        
      - name: Install deps (none needed yet)
        run: |
          python -m pip install --upgrade pip

      - name: Ingest DC
        run: make ingest_dc

      - name: Transform DC
        run: make transform_dc

      - name: Forecast DC
        run: make forecast_dc
